.btn {
    background-color: rgba(116, 250, 192, 1);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    

}
.btn:hover {
    color: aliceblue;
    background-color: #010b28;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}